/* charis-sil-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Charis SIL';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/charis-sil-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* charis-sil-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Charis SIL';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/charis-sil-v2-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-logo-background: #efefef;
    --color-logo-gradient-start: #dc5364;
    --color-logo-gradient-end: #36368B;
}

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    font-family: 'Charis SIL', serif;
    margin: 0;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}


.wrap {
    margin: 0 auto;
    max-width: 960px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-inner {
    text-align: center;
    max-width: 65%;
}

.logo {
    width: 4rem;
    display: inline-block;
}

h1 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

ul {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: .25rem;
}

li {
    list-style: none;
    padding-right: .3125rem;
    text-align: center;
    font-size: 1.6rem;
}

li a .fa-brands {
    color: black;
}

li a .fa-square-xing:hover {
    color: #005a5c;
}

li a .fa-linkedin:hover {
    color: #006cac;
}

li a .fa-square-x-twitter:hover {
    color: #0f1419;
}

li a .fa-square-envelope:hover {
    color: #d31f1f;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

@media (min-width: 700px) {
    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.1rem;
    }

    li {
        font-size: 2rem;
    }

}
